body {
	background: rgb(104, 104, 104);
	margin: 12%;
}

.postcard {
	background: rgb(128, 128, 128);
	height: 300px;
	width: 400px;
	margin: auto;
	padding: 3%;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
}
.postcard-body {
	display: flex;
	justify-content: space-between;
}
.body-left {
	background-color: rgb(129, 129, 129);
	height: 150px;
	width: 250px;
}
.body-right {
	background-color: rgb(129, 129, 129);
	height: 100px;
	width: 100px;
}
img {
	height: 50px;
	width: 50px;
	/* padding-top: 3%;
	padding-right: 3%; */
}
button {
	padding: 10px;
	margin-left: 135px;
}
.paragraph {
	font-family: "Fr", "Arial Narrow", Arial, sans-serif;
}
.input-margin {
	margin: 10px 0px 10px 0px;
	width: 80%;
}
@keyframes bgcolor {
	0% {
		background-color: rgb(165, 165, 165);
	}

	30% {
		background-color: #a1a1a1;
	}

	60% {
		background-color: #b4b4b4;
	}

	90% {
		background-color: rgb(148, 148, 148);
	}

	100% {
		background-color: #999999;
	}
}

body {
	animation: bgcolor 10s infinite;
}
